*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Personagens{
    height: 1080px;
    
}
div.personagens_nanatsu{
    width: 1920px;
    height: 1080px;
    font-family: Deutsch Gothic;
}
.personagens_titulo{
    color: var(--primary-color);
    text-shadow: 
    -2px -3px 2px #000000, 
    -2px 3px 2px #000000,      
    3px -3px 2px #000000,    
    4px 0px 2px #000000;
    font-size: 240px;
    padding-left: 420px;
    transform: translate(0%, -410%);
}


